.Select{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: -300px;
    margin-left: 173px;
}
input{
   display: none;
}
label{
    background-color: transparent; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: all 0.3s ease-in-out;  

}
label:hover{
    background-color: blueviolet;
}
img{
    height: 500px;
    width: 500px;
    object-fit: 50%;
    z-index: -6;
}